<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <configSections>
    <sectionGroup name="weatherServiceApiConfig"
              type="Test.WeatherSeviceApiConfigurationGroup, Test">
      <section name="uriConfig"
               type="Test.UriConfig, Test" />
    </sectionGroup>
  </configSections>


  <weatherServiceApiConfig>
    <uriConfig>
      <scheme value="http"/>
      <host value="api.openweathermap.org"/>
      <path value="/data/2.5/weather"/>
      <queryParams>
        <add name="city" paramName="q" value="Minsk"/>
        <add name="apiKey" paramName="APPID" value="ec259b32688dc1c1d087ebc30cbff9ed"/>
        <add name ="units" paramName="units" value="metric"/>
      </queryParams>
    </uriConfig>
  </weatherServiceApiConfig>
  
</configuration>